<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="bg-light">
    {% block body %} {% endblock %}
  </body>
<style>
  @media screen and (max-width: 500px) {
    h1{
      font-size: 20px;
    }
    h4{
      font-size: 15px;
    }

    .p-5{
      padding: 1rem !important;    }
  }
</style>
</html>


